In [90]:
a={"rupesh","daksh","tarun"}
b={1,2,3,4,5,6,7,8,20}
c={3,8,2,5,2,5,2,"daksh","rupesh"}
print(a,type(a))
print(b,type(b))
print(c,type(c))

{'daksh', 'rupesh', 'tarun'} <class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 20} <class 'set'>
{'rupesh', 2, 3, 5, 8, 'daksh'} <class 'set'>

In [91]:
a.add("rohan")
print(a)

{'rohan', 'daksh', 'rupesh', 'tarun'}

In [92]:
d=a.copy()
print(a,id(a))
print(d,id(d))

{'rohan', 'daksh', 'rupesh', 'tarun'} 2265897670400
{'rohan', 'daksh', 'rupesh', 'tarun'} 2265897670624

In [93]:
print(c)

{'rupesh', 2, 3, 5, 8, 'daksh'}

In [94]:
print(a)
print(b)
print(c)
b.difference(c)

{'rohan', 'daksh', 'rupesh', 'tarun'}
{1, 2, 3, 4, 5, 6, 7, 8, 20}
{'rupesh', 2, 3, 5, 8, 'daksh'}

{1, 4, 6, 7, 20}

In [95]:
b.difference_update(c)
print(b)

{1, 4, 6, 7, 20}

In [96]:
b.discard(20)
print(b)

{1, 4, 6, 7}

In [97]:
a.intersection(c)

{'daksh', 'rupesh'}

In [98]:
a.intersection_update(c)
print(a)

{'daksh', 'rupesh'}

In [99]:
a.isdisjoint(c)

False

In [100]:
a.issubset(c)

True

In [101]:
a.issuperset(c)

False

In [102]:
a.pop()

'daksh'

In [104]:
b.symmetric_difference(c)

{1, 2, 3, 4, 5, 6, 7, 8, 'daksh', 'rupesh'}

In [105]:
b.symmetric_difference_update(c)
print(b)

{1, 3, 4, 2, 6, 7, 'rupesh', 5, 8, 'daksh'}

In [106]:
b.union()

{1, 2, 3, 4, 5, 6, 7, 8, 'daksh', 'rupesh'}

In [108]:
b.update()
print(b)

{1, 3, 4, 2, 6, 7, 'rupesh', 5, 8, 'daksh'}